doctype html5
html
    head
        title= title
        meta(name="viewport" content="width=device-width, initial-scale=1")


    body.icons-docs(ng-app="analytics" ng-controller="UserCtrl as UserCtrl")
        div.modal.fade.bs-example-modal-lg(ng-controller="ModalCtrl")
                    script(type="text/ng-template" id="modalAboutContent.html")
                        md-dialog(aria-label="List dialog")
                            md-toolbar
                                div.md-toolbar-tools
                                    h2Account(translate="layout.details")
                            md-dialog-content
                                div.md-dialog-content
                                    table
                                        tbody
                                            tr
                                                th(style="padding: 5px 10px; text-align: left;" translate="modal.about.hmngServer")
                                                td(style="padding: 5px 10px;")= server
                                            tr
                                                th(style="padding: 5px 10px; text-align: left;" translate="modal.about.ownerId")
                                                td(style="padding: 5px 10px;")= ownerId
                                            tr
                                                th(style="padding: 5px 10px; text-align: left;" translate="modal.about.accessToken")
                                                td(style="padding: 5px 10px;")= accessToken
                            md-dialog-actions(layout="row")
                                md-button.md-raised.md-primary(ng-click="close()" translate="modal.button.close" aria-label="close")

        header.md-page-header(ng-controller="HeaderCtrl")
            div.header
            md-toolbar.header.fixed(layout='row')

                h1.logo.md-toolbar-tools
                    img(src="/images/logo_nav.png" alt="Aerohive")
                span(flex)
                md-menu
                    md-button(aria-label="language" ng-click="UserCtrl.openMenu($mdOpenMenu, $event)" style="min-width: 20px;")
                        md-tooltip(md-direction="bottom" md-visible="tooltipVisible") {{"button.language" | translate}}
                        md-icon(class="material-icons" aria-label="language") language
                    md-menu-content
                        md-menu-item
                            md-button(ng-controller="ModalCtrl" ng-click="UserCtrl.translate('en')")
                                span(style="display: inline-flex; margin-right: 5px;")
                                    div.iti-flag.gb
                                span English
                        md-menu-item
                            md-button(ng-controller="ModalCtrl" ng-click="UserCtrl.translate('fr')")
                                span(style="display: inline-flex; margin-right: 5px;")
                                    div.iti-flag.fr
                                span Francais
                md-menu
                    md-button(aria-label="menu" ng-click="UserCtrl.openMenu($mdOpenMenu, $event)" style="min-width: 20px;")
                        md-tooltip(md-direction="bottom" md-visible="tooltipVisible") {{"button.menu" | translate}}
                        md-icon(class="material-icons" aria-label="menu") more_vert
                    md-menu-content
                        md-menu-item
                            md-button(ng-controller="ModalCtrl" ng-click="open('about')")
                                md-icon.material-icons(md-menu-align-target) info
                                span(translate="layout.accountDetails")
                        md-menu-item
                            md-button(href="/logout/")
                                md-icon(md-menu-align-target) exit_to_app
                                span(translate="layout.logout")


            md-toolbar.md-menu-toolbar(layout="row" style="background-color: rgb(250,250,250);")
                md-toolbar-filler(layout layout-align="center center" style="width:250px;" hide-xs hide-sm hide-md)
                md-menu-bar.main-menu
                    md-button(href="#!/dashboard" ng-class="{cur: nav.isActive('dashboard')}")
                        md-icon.material-icons.md-24 dashboard
                        div(translate="layout.dashboard")

                    md-button(href="#!/compare" ng-class="{cur: nav.isActive('compare')}")
                        md-icon.material-icons.md-24 compare
                        div(translate="layout.compare")

                    md-button(href="#!/details" ng-class="{cur: nav.isActive('details')}")
                        md-icon.material-icons.md-24 details
                        div(translate="layout.details")

            
        div(id="main")
            md-button.md-fab.md-warn.md-mini(aria-label="menu" style="position: fixed; bottom: 20px; left: 20px" ng-show="UserCtrl.showFab()" hide-gt-sm ng-click='UserCtrl.sideNav("left")')
                md-icon.material-icons.md-12 menu
            md-sidenav(class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')")
                md-content(ng-controller="LocationCtrl" style="background-color: rgb(250,250,250);")
                    md-toolbar
                        div(class="md-toolbar-tools")
                            h2(class="md-toolbar-tools" translate="filter.filterBy" ng-show="!compareLocations")
                            h2(class="md-toolbar-tools" translate="filter.compare" ng-show="compareLocations")
                    div(layout="column")
                        h3
                            span(translate="filter.location" ng-show="!compareLocations")
                            md-input-container(ng-show="compareLocations" class="header-input" style="background-color: rgb(255,255,255);color: #1e88e5;")
                                md-select( ng-model="locationFilter" ng-selected="locationFilter" aria-label="location filter")
                                    md-option(value="GENERIC") Folders
                                    md-option(value="BUILDING") Buildings
                                    md-option(value="FLOOR") Floors
                        div(ng-show="locationsLoaded" style="background-color: rgb(76,175,80); height: 5px; width: 100%")                    
                        md-progress-linear(ng-show="!locationsLoaded" md-mode="indeterminate" class="md-accent")                    
                        script(type="text/ng-template" id="locations_renderer.html")
                                md-checkbox(ng-checked="exists(folder)" ng-click="toggle(folder)" aria-label="{{folder.name}}" ng-disabled="locationTypeEnable(folder)")
                                        md-icon(class="material-icons md-24") {{locationsIcon(folder)}}
                                        span {{folder.name}}
                                        span(flex)                            
                                md-list(ng-repeat="folder in folder.folders"  ng-include="'locations_renderer.html'" style="margin-left:10px" layout="column")                                                
                        div(ng-show="locationsLoaded" style="padding: 5px")
                            md-checkbox(ng-if="locations" ng-checked="exists(locations)" ng-click="toggle(locations)" aria-label="{{locations.name}}" ng-disabled="locationTypeEnable(locations)")
                                            md-icon(class="material-icons md-24") {{locationsIcon(locations)}}
                                            span {{locations.name}}
                                            span(flex)                        
                            md-list
                                md-list(ng-repeat="folder in locations.folders"  ng-include="'locations_renderer.html'" style="margin-left:10px" layout="column")
            md-content(flex layout="column" class="main-view")
                article(md-whiteframe="2" ng-controller="TimelineCtrl" class="container")
                    div(class="inside")
                        div(class="entity-timeline-loading")
                            div(class="entity-timeline-column entity-timeline-choose" flex layout="row")
                                md-input-container(style="width: 150px")
                                    label Showing Data for
                                    md-select(ng-model="period")
                                        md-option(value="day") Day
                                        md-option(value="week") Week
                                        md-option(value="month") Month
                                        md-option(value="year") Year
                                    
                                
                                span(style="min-width: 100px;")
                                span(style="align-self: center") Select Range
                                md-button(ng-repeat="duration in durations[period]" class="md-raised" ng-class="isCurrentRange(duration.range)" style="height: 20px;align-self: center;" ng-click="changeRange(period, duration.range)") {{duration.name}}     
                            
                            div(style="height:180px; min-height: 100px;")
                                div(class="entity-timeline-bar-time" id="timeline")
                            
                        
                        div(class="entity-timeline-show-time" style="text-align: center; margin-bottom: 5px")
                            span="Showing data from "
                            b {{date.from | date : 'short'}}
                            span(style="font-weight: normal;")=" to " 
                            b {{date.to | date : 'short'}}
                    
                


            </md-content>
            ng-view


        script(src="/bower_components/angular/angular.js")

        script(src="/i18n/web-app/en.js")        

        link(rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css")
        link(rel="stylesheet" href="/bower_components/angular-material-data-table/dist/md-data-table.min.css")
        link(rel="stylesheet" href="/bower_components/material-design-icons/iconfont/material-icons.css")
        link(rel='stylesheet' href='/css/ah-tm.dashboard.css')
        link(rel='stylesheet' href='/css/ah-tm.tags.css')
        link(rel='stylesheet' href='/css/ah-tm.cards.css')
        link(rel='stylesheet' href='/css/ah-tm.md-table.css')
        link(rel='stylesheet' href='/css/ah-tm.md-list.css')
        
        script(src="/bower_components/angular-material-data-table/dist/md-data-table.min.js")


        script(src="/bower_components/angular-aria/angular-aria.js")
        script(src="/bower_components/angular-animate/angular-animate.min.js")
        script(src="/bower_components/angular-material/angular-material.js")
        script(src="/bower_components/angular-messages/angular-messages.js")
        script(src="/bower_components/angular-route/angular-route.min.js")
        script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")
        script(src="/bower_components/angular-translate/angular-translate.min.js")
        script(src="/bower_components/angular-sanitize/angular-sanitize.min.js")
        script(src="/bower_components/highcharts-ng/dist/highcharts-ng.min.js")
        script(language="JavaScript" type="text/javascript" src='/js/highstock.js') 
        script(language="JavaScript" type="text/javascript" src='/js/highcharts-more.js')
        script(language="JavaScript" type="text/javascript" src='/js/modules/heatmap.js')
        

        script(src="/web-app/web-app.js")
        script(src="/web-app/services.js")
        script(src="/web-app/routes.js")
        script(src="/web-app/directives/charts.js")
        script(src="/web-app/dashboard/controller.js")
        script(src="/web-app/dashboard/service.js")
        script(src="/web-app/compare/controller.js")
        script(src="/web-app/compare/service.js")
        script(src="/web-app/details/controller.js")
        script(src="/web-app/details/service.js")
        script(src="/web-app/modals/controller.js")