doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/css/ah-tm.error.css')        
    body
        header
            div.header
            md-toolbar.header.fixed
                h1.logo.md-toolbar-tools
                    img(src="/images/logo_nav.png" alt="Aerohive")

        div.page-footer
            span(style="border: none;") © 2016 Aerohive Networks. All Rights Reserved.
                div.login-box.grid_15
        div.container
            div
                img(src="/images/login_page_logo.png" alt="Aerohive" class="ah-logo")
                div.login-box-login
                    h1= "Oups... There is a "+status+" error..."
                    pre.details= "Unable to render "+current_page
                    br
                    pre.details #{message}
                    br
                    pre.details #{stack}
                    div.ending= "Sorry... I don't have any other information..."

